* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards {
    display: flex;
    flex-direction: row;
}

.cards div {
    width: 15em;
}

.cards p {
    margin: 0;
    padding: 5px;
}

.cards p:nth-child(2n) {
    background-color: lightgray;
}

button {
    width: 10em;
    height: 3em;
    margin-bottom: 20px;
}

#searchOptions {
    padding-bottom: 20px;
}